@charset "utf-8";
/* CSS Document */

h1 {
	text-align: center;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";	
	margin-top: 75px;
	font-size: 60px;
}
.border {
	padding-top: -1px;
	width: auto;
	height: 21px;
	background-color: #FFDDD3;
	

}
.home {
	text-align: center;
	background-color:#CBE1EF;
	width: 100px;
	height: 37px;
	margin-left: 22px;
	margin-right: 42px;
	margin-top: -20px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	float: left
}

.home:hover { 
	background-color:#9ACDE0;
}
a {
	text-decoration: none;
	color: #000000;

}
.dropdown{
	position: relative;
	float:left;
	margin-top: -20px;
	margin-right: 41px;
}

.dropbtn{
	text-align: center;
	background-color: #CBE1EF;
	width: 100px;
	height: 37px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #9ACDE0;}



.contact{
	text-align: center;
	background-color:#CBE1EF;
	width: 100px;
	height: 37px;
	margin-right: 45px;
	margin-left: 5px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	float: left;
	margin-top: -20px;
}

.contact:hover{
	background-color: #9ACDE0;
}

.border2 {
	border-style: solid;
	width:150px;
	margin-top: 100px;
}

.menu{
	display: block;
	margin-left: 37.5%;
	margin-right: auto;
	margin-top: 50px;
}

.header {
	margin-left: 90px;
	margin-top: 200px;
	width: 300px;
	height:50px;
	background-color: #CBE1EF;
	font-size: 38px;
	text-align: center;
	border: 3px solid #9ACDE0;
	margin-bottom: 25px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.date{
	margin-left: 90px;
	margin-top: 20px;
	color: #5EA9BE;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}

.text{
	margin-left: 90px;
	margin-right: 10px;
	font-size: 20px;
	width: 650px;
	float: left;
	text-align: justify;
	
}

.success{
	width: 700px;
	float: right;
	margin-right: 90px;
	margin-top: -120px;
	background-color: #CBE1EF;
	border: 10px solid #F3BFB3;
}
.footer2{
	background-color:#FFFDC8;
	width:auto;
	height: 20px;
	margin-top:1000px;
	border-bottom: solid;
	border-bottom-width: 4px;
	border-bottom-color: #FFFFFF;
}
.footer{
	background-color: #FFDDD3;
	width:auto;
	height: 50px;
	margin-top:0px;
}